body{
    overflow-x: hidden;
}
/* Navigation */
.nav1{

}
.ul1{
    position: absolute;
    right: 2rem;
}
.navBar-prop{
    width: 200px;
    display: block;
    font-size: 25px;
    padding: 20%;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
}
/* Intro part */
.intro{
    flex-direction: column;
    height: 780px;
}
.intro2{
    display: block;
    margin:0 auto;
}
.intro1{
    display: block;
    margin:0 auto;
}
/* specialities */
.specialities{

}
.special{
    /* flex-direction: column; */
    flex-wrap: wrap;
    flex-flow: row;
}
.special2{
    /* flex-direction: column; */
    flex-wrap: wrap;
    flex-flow: row;
}
.sp1{
    display: block;
    margin: 10px;
    width: 70%;
}
.sp1-img1{
   /* position: relative;
   top: 0;
   left: 25%;
   transform: translate(0,-25%); */
   width: inherit;
   height: 150px;
}
.sp2{
    display: block;
    margin: 10px;
    width: 70%;
}
/* recommendation */
.recommendations{

}
/* reviews */
.reviews{

}
/* footer */
.buttom{

}